@import url("./font.css");
:root {
  /* violet */
  --primary-color: 136, 9, 255;
  --active-primary-color: 146, 0, 180;
  /* white */
  --text-color: 256, 256, 256;
  --button-blue: 24, 175, 202;
  --active-button-blue: 21, 146, 168;
  --bg-image: url("/assets/images/galaxy.avif");
  --card-bg-image: url("/assets/images/card.avif");
}
body,
html {
  margin: 0em;
  padding: 0em;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  overflow: hidden;
}
h1,
p {
  margin: 0em;
}
.card {
  padding: 1em;
  /* max-width: 20em; */
  text-align: center;
  position: relative;
  border-radius: 1em;
}
.card-bg-blur {
  overflow: hidden;
  background-color: transparent;
}
.bg-blur {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.bg-blur::before {
  content: "";
  background-image: var(--bg-image);
  background-size: cover;
  -webkit-background-size: cover;
  height: 120%;
  width: 120%;
  position: fixed;
  filter: blur(2em);
  z-index: -1;
}
.card-bg-blur::before {
  content: "";
  background-image: var(--card-bg-image);
  background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  filter: blur(2em);
  z-index: -1;
}

.btn {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  padding: 0.7em 2em;
  margin: 1em;
  cursor: pointer;
  border-radius: 0.25em;
  transition: all 0.3s ease;
  border-radius: 4em;
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0 0 1.1em 0;
  transition: all 0.3s ease-in-out;
}
.btn-glow:active {
  box-shadow: rgba(var(--active-primary-color), 0.8) 0 0 1.5em 0;
  transition: all 0.1s ease-in-out;
}
.btn-gradient {
  background: linear-gradient(
    to right,
    rgb(var(--primary-color)),
    rgb(var(--button-blue))
  );

  border: 0;
  color: rgba(var(--text-color));
}

.mb-1 {
  margin-bottom: 1em;
}
.link-text {
  color: rgba(var(--primary-color));
}

.spaced-text {
  letter-spacing: 0.4em;
}

video {
  width: 100%;
  min-height: 50%;
  pointer-events: none;
}

#wifi-details {
  visibility: hidden;
  display: block;
  z-index: 1;
  overflow:visible;
}

#wifi-details.show {
  visibility: visible;
  display: block;
  animation: fadein 0.5s;
}

#toast {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-color: rgba(95, 156, 103, 0.972);
  border-radius: 12px;
  z-index: 1;
  opacity: 0;
  overflow: visible;
}

#toast.show {
  display: block;
  animation: slide-up 3s ease-in forwards;

} 

@keyframes slide-up {
  0% {
    bottom: 10px; 
    opacity: 0;   
  }

  5% {
    bottom: 50px;  
    opacity: 1;
  }
  10% {
    bottom: 50px;  
    opacity: 1;     
    animation-timing-function: ease-in-out; 

  }
  90% {
    bottom: 50px;  
    opacity: 1;    
    animation-timing-function: ease-in; 

  }
  95% {
    bottom: 10px;  
    opacity: 0;    
  }
  100% {
    bottom: 10px;   
    opacity: 0;     
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}